<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { @class = "topnav_home" })</li>
        <li>@Html.ActionLink("SetUp", "Index", "Home")</li>
        <li>@Html.ActionLink("Language", "Index", "Language")</li>
        <li>@Html.ActionLink("Groups of Categories", "Index", "CategoryGroup")</li>
        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
        <li>@Html.ActionLink("Words", "Index", "Word")</li>
    </ul>
</div>


